
package:
  name: gpf_dae
  version: ${gpf_version}

source:
  path: ../../sources/gpf/dae/
build:
  number: ${build_number}
  script: python setup.py install --single-version-externally-managed --record=record.txt

requirements:
  host:
    - python=3.9

  run:
$gpf_dependencies

test:
  imports:
    - dae

about:
  home: https://github.com/iossifovlab/gpf
  license: MIT License
  license_family: MIT
  license_file: ''
  summary: GPF - Genotypes and Phenotypes in Familes
  description: ''
  doc_url: ''
  dev_url: ''

extra:
  recipe-maintainers: ''
